<div class="bg-primary p-5 text-white bg-dark">
    <p>Kabinet Niskala Sembrani <br>
    Keluarga Mahasiswa Manajemen dan Kebijakan Publik <br>
    FISIPOL UGM <br>
    Jalan Sosio Yustisia, Bulaksumur, Yogyakarta, 55281</p>

    <i class="fab fa-instagram"></i><a class="text-white nounderline mx-2" href="https://www.instagram.com/gamapict/">@gamapict</a>
    <br>
    <i class="fab fa-line"></i><i class=" mx-2 ">@udc0801h</i>
    <br>
    <i class="fas fa-envelope"></i><i class=" mx-2 ">gamapi.fisipol@ugm.ac.id</i>
</div>

</body>

</html>