<%- include("partials/header.ejs"); %>


<div class="colored-section">
    <div class="embed-responsive">
        <iframe src="https://drive.google.com/file/d/1rQOMAWFErQevsH8x8CyLUxwgeXPGPbDO/preview" width="100%" height="800px">
            <p> jika pdf tidak muncul klik tombol dibawah ini untuk mengunduh pdf <br>
                <a class="btn btn-success" href="../pdf/how-to-apply.pdf"><i class="fa fa-download"></i>Download</a>
            </p>        
        </iframe>
    </div>
    <div class="p-3">
        <span>
            <a type="button" class="btn btn-success m-2 btn-lg" href="/Pengumuman">Hasil Seleksi</a>
            <br>
            <a type="button" class="btn btn-dark m-2" href="/">Beranda</a>
            <a type="button" class="btn btn-primary m-2" href="/#divisi">Divisi</a>
        </span>
    </div>
</div>




<%- include("partials/footer.ejs"); %>