body{
    font-family: 'Poppins', 'Montserrat', 'sans-serif';
    text-align: center;
}



  h1, h2, h3 {
    font-family: "Fraunces", "Montserrat-Bold", "Lora", 'serif-Bold';
}

.colored-section{
    background-color: #971d2a;
    color: #fff;
    overflow-x: hidden;
}

.white-section{
    background-color: #fff;
    color: black;
    overflow-x: hidden;
}




/*  Headings */

.heading{
    padding: 3rem;
}

.heading-title{
    font-family: "Fraunces" "Montserrat-Black", "Lora-Bold", "serif-Black", "sans-serif-Black";
    font-weight: bold;
    line-height: 1.5;
}

.heading-image{
    height: 30vw;
    width: auto;
    min-width: 250px;
    min-height: 250px;
}



/* pengurus harian */

.foto-ketua{
    height: 30vw;
    border-radius: 100%;
    min-width: 220px;
    min-height: 220px;
}

.foto-ph{
    height: 25vw;
    border-radius: 100%;
    min-width: 190px;
    min-height: 190px;
}


/* divisi */

.nama-divisi{
    background-color: #fff;
    color: black;
}

.deskripsi-divisi{
    color: #fff;
}

.nounderline {
    text-decoration: none 
  }

.logo-divisi{
    height: 25vw;
    width: auto;
    min-width: 250px;
    min-height: 250px;
    padding-top: 5vh;
}

