body{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
}



  h1, h2, h3{
    font-family: "Montserrat-Bold", 'sans-serif-Bold';
}

.colored-section{
    background-color: #ec4646;
    color: #fff;
    overflow-x: hidden;
}

.white-section{
    background-color: #fff;
    color: black;
    overflow-x: hidden;
}




/*  Headings */

.heading{
    padding: 3rem;
}

.heading-title{
    font-family: "Montserrat-Black", "sans-serif-Black";
    line-height: 1.5;
}

.heading-image{
    height: 30vw;
    width: auto;
    min-width: 250px;
    min-height: 250px;
}



/* pengurus harian */

.foto-ketua{
    height: 30vw;
    border-radius: 100%;
    min-width: 270px;
    min-height: 270px;
}

.foto-ph{
    height: 25vw;
    border-radius: 100%;
    min-width: 200px;
    min-height: 200px;
}


/* divisi */

.nama-divisi{
    background-color: #fff;
    color: black;
}

.deskripsi-divisi{
    color: #fff;
}

.nounderline {
    text-decoration: none !important
  }

